html, body {
    height: 100%;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url("jo.jpg");
background-size: cover;
}

h1 {
padding: 10px;}
.rød {
    font-style: sans-serif;
}


main {
    outline: solid; 
    outline-color: rgb(1, 148, 142);
    border-radius: 20px; 
    padding: 20px; 
    margin: 20px;
    background-color: rgb(0, 0, 0, 0.301);
    border-radius: 25px;
    width: 400px;
    height: 350px;
    text-align: center;

}





input[type=radio] { 
    border-radius: 20px; 
    accent-color: rgb(1, 148, 142);
 }

 input {
    cursor: pointer;
}


button {
    cursor: pointer;
    border-radius: 25px;
    background-color: rgb(255, 255, 255); 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    
  }

  button:hover {
    background: rgb(1, 148, 142);
    transition: 0.5s;
    }

    #progress-container {
        width: 100%;
        background-color: rgb(0, 0, 0);
    }

    #progress-bar {
        width: 0;
        height: 30px;
        background-color: rgb(1, 148, 142);
        text-align: center;
        line-height: 30px;
        color: white;
    }

